$black: #000;
$white: #fff;
$grey:  #f3f5f8;
$blackgrey: #292c2f;
$blackgreyer: #33383b;
$silver: #f0f2f4;
$green: #3dc9b3;

$center: center;

body {
  font-family: Kalam, Arial, serif;
  background-color: $white;
  max-width: 100%;
  margin: 0 auto ;
  float: none ;
}
.bgGrey {
    background: $grey;
}
/*--------------------------- Nav Menu ----------------------*/
.carouseltop {
margin-top: 35px;
}
.carousel-inner img {
    width: 100%;
    height: 100%;
}
.bg-dark {
  background-color: $black!important;
  }
.navbar-dark .navbar-nav .nav-link {
  color: $white;
}
.custom-toggler.navbar-toggler {
  border-color:  $black;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 
}
.carousel-caption {
    padding-bottom: 0px;
    background: black;
    opacity: 0.7;
}
/*--------------------------- Footer ------------------------*/
.footer {
    background-color: $blackgrey;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    padding: 25px 50px;
    margin-top: 0
}

.footer .footer-center i,
.footer .footer-icons a {
    background-color: $blackgrey;
    color: $white;
    text-align: $center;
}

.footer .footer-center {
    width: 35%
}

.footer .footer-center i {
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    line-height: 42px;
    margin: 10px 15px;
}

.footer .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 2px;
    font-size: 20px;
    line-height: 35px;
    margin-top: 5px;
    margin-right: 3px;
    margin-bottom: 5px;
}
/*--------------------------- Services ------------------------*/
.img-thumbnail {
    padding: 1.45rem;
    background-color: $white;
    border: 0px solid $white;
}
/*--------------------------- Contact Details ------------------------*/
.contact-details {
    margin: 50px 0;
}
.col-md-12 {
    padding: 20px;
}
.light-box {
    background-color: $white;
    -webkit-box-shadow: 0 3px 0 0 $silver;
    -moz-box-shadow: 0 3px 0 0 $silver;
    box-shadow: 0 3px 0 0 $silver;
    padding: 20px 0
}

.box-hover {
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out
}

.contact-details h2 span {
    display: block;
    color: $green;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    margin-top: 15px
}
/*--------------------------- General ------------------------*/
.fa {
    margin-top: 8px;
}
div.col-md-6,
section {
    padding-bottom: 20px;
}
a {
    color: inherit;
}
/*--------------------------- Typography ------------------------*/

h1 {
    font-weight: 600;
}

h2 {
    font-weight: 500;
}

h3,
p {
    font-weight: 400;
    font-family: Kalam, Arial, serif;
}

p {
    font-size: 18px;
}

span {
    font-family: Kalam, Arial, serif;
}

.colorText,
h3 a {
    color: $white;
}

.spanIcon {
    font-size: 29px;
    padding: 70px;
}
/*--------------------------- Gallery ------------------------*/

.container.gallery-container {
    background-color: $white;
    color: #35373a;
    min-height: 100vh;
    border-radius: 20px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.06);
}

.tz-gallery {
    padding: 40px;
}

.tz-gallery .lightbox img {
    width: 100%;
    margin-bottom: 30px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.tz-gallery .lightbox img:hover {
    transform: scale(1.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

.tz-gallery img {
    border-radius: 4px;
}

.baguetteBox-button {
    background-color: transparent !important;
}

@media(max-width: 768px) {
    .container.gallery-container {
        border-radius: 0;
    }
}
